<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Pages.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Pages.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
