<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<AllianceOffered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Offer a faction to form an Alliance</Header>

    <Body>
        <SelectFromImageComponent @bind-Value="target" Values="Game.PlayersOtherThan(Player)" Required=true ImageWidth="40"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Offer Alliance" ConfirmError=@Validation />
    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;

    protected override AllianceOffered ConfirmedResult => new AllianceOffered(Game) { Initiator = Faction, Target = target };
}
