<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<AmbassadorPlaced>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>You may now place an Ambassador Token in a Stronghold</Header>
    <Body>

        <SelectFromImageComponent @bind-Value=_ambassador Values=@AmbassadorPlaced.ValidAmbassadors(Player) PopupsAsTooltip=true Required=true>
            <Label>Which ambassador?</Label>
        </SelectFromImageComponent>

        <SelectComponent ButtonHint=ClickHintButton.LMB @bind-Value=_stronghold Values=@AmbassadorPlaced.ValidStrongholds(Game, Player)>
            <Label>Where?</Label>
        </SelectComponent>

        <div>
            Cost: <SimpleNumberComponent Size=20>@(Game.AmbassadorsPlacedThisTurn + 1)</SimpleNumberComponent>
        </div>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Place Ambassador" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Pink;

    private Ambassador _ambassador;
    private Territory _stronghold;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
        }
    }

    protected override AmbassadorPlaced ConfirmedResult => new AmbassadorPlaced(Game) { Initiator = Faction, Ambassador = _ambassador, Stronghold = _stronghold };

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid<Territory, Territory>(ref _stronghold, AmbassadorPlaced.ValidStrongholds(Game, Player), l.Territory);
    }

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
    }
}
