<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BlueFlip>

<div class="card p-1 mb-2 border-danger">
    <div class="card-header">Choose to be fighters or advisors in @(BlueFlip.GetTerritory(h.Game)).</div>
    <div class="card-body">
        <button class="btn btn-primary mt-1" @onclick="Confirm">Fighters</button>
        <button class="btn btn-primary mt-1" @onclick="Other">Advisors</button>
    </div>
</div>

@code {

    protected override BlueFlip ConfirmedResult
    {
        get
        {
            return new BlueFlip(h.Game) { Initiator = h.Faction, AsAdvisors = false };
        }
    }

    protected override BlueFlip OtherResult
    {
        get
        {
            return new BlueFlip(h.Game) { Initiator = h.Faction, AsAdvisors = true };
        }
    }
}
