<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BluePrediction>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Predict which faction will win the game.</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="toWin" Values="BluePrediction.ValidTargets(Game, Player)" Required=true ImageWidth="40" />

        <SelectNumberComponent @bind-Value="turn" Min="1" Max="Game.MaximumNumberOfTurns" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm Prediction" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Blue;

    private int turn;
    private Faction toWin;

    protected override BluePrediction ConfirmedResult => new BluePrediction(Game, Faction) { ToWin = toWin, Turn = turn };
}