<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Diplomacy>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use Diplomacy?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="Diplomacy.ValidCards(Game, Player)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Use Diplomacy" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        BackgroundImage = Skin.Current.GetImageURL(LeaderSkill.Diplomat);
    }

    protected override Diplomacy ConfirmedResult => new Diplomacy(Game) { Initiator = Faction, Card = card };
}
