<!--
* Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<DiscoveryRevealed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Reveal a Discovery?</Header>
    <Body>

        @{
            var locations = DiscoveryRevealed.GetLocations(Game, Player).ToList();

            if (locations.Count() > 1)
            {
                <SelectComponent @bind-Value="_location" Values=@locations>
                    <Label>Where to reveal a discovery?</Label>
                 </SelectComponent>
            }
            else
            {
                _location = locations.First();
                <div>Reveal the discovery in @Name(_location.Territory)?</div>
            }
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmError=@Validation Pass="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    private Location _location;

    protected override DiscoveryRevealed ConfirmedResult => new DiscoveryRevealed(Game) { Initiator = Faction, Location = _location };

    protected override DiscoveryRevealed PassedResult => new DiscoveryRevealed(Game) { Initiator = Faction, Passed = true };
}
