@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<EstablishPlayers>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()" Collapsible="false">

    <Header>Players</Header>
    <Body>
        @foreach (var p in Players)
        {
            <h3>p</h3>            
        }
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private bool _advancedOptions = false;
    
    private GameSettings Settings => Game.Settings;

    protected override EstablishPlayers ConfirmedResult => new(Game, Faction.None);

    private IEnumerable<string> Players => Game.PlayerNames.Where(p => Settings.CreatorParticipates || p != Client.PlayerName);

    private string StyleDef(Faction f)
    {
        return $"background-color:{Skin.Current.GetFactionColorTransparant(f, "bb")}";
    }
}
