<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FactionSelected>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Choose your faction. If you don't, it will be assigned at random.</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="faction" Values="FactionSelected.ValidFactions(Game)" Required=true ImageWidth="40" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Choose Faction" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction faction;

    protected override FactionSelected ConfirmedResult => new FactionSelected(Game, Client.PlayerName) { InitiatorPlayerName = Client.PlayerName, Faction = faction };
}
