<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FlightUsed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Flight) to be able to move 3 territories once OR move 2 different force groups?</Header>
    <Body>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Move 3 territories" ConfirmError=@Validation Other="Other" OtherText="Move 2 different groups"/>
    </Body>

</GameEventComponentLayout>

@code {

    protected override void OnInitialized()
    {
        BackgroundImage = GetImage(TreacheryCardType.Flight);
    }

    protected override FlightUsed ConfirmedResult => new FlightUsed(Game, Faction) { MoveThreeTerritories = true };

    protected override FlightUsed OtherResult => new FlightUsed(Game, Faction) { MoveThreeTerritories = false };
}
