<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<GreySelectedStartingCard>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Select your starting Treachery Card. The remaining cards will be shuffled and dealt to the other factions.</Header>
    <Body>
        <SelectFromImageComponent @bind-Value="card" Values="Game.StartingTreacheryCards.Items" ImageWidth="80" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Select {0}", card)" ConfirmError=@Validation />
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Grey;

    private TreacheryCard card;

    protected override GreySelectedStartingCard ConfirmedResult => new GreySelectedStartingCard(Game) { Initiator = Faction, Card = card };
}
