<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<GreyRemovedCardFromAuction>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Put one card on top or on the bottom of the Treachery Card deck</Header>
    <Body>
        
        <SelectFromImageComponent @bind-Value="card" Values="Game.CardsOnAuction.Items" ImageWidth="80" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Put on top" ConfirmError=@Validation Pass="Other" PassText="Put at bottom" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Grey;

    private TreacheryCard card;

    protected override GreyRemovedCardFromAuction ConfirmedResult => new GreyRemovedCardFromAuction(Game, Faction) { PutOnTop = true, Card = card };

    protected override GreyRemovedCardFromAuction OtherResult => new GreyRemovedCardFromAuction(Game, Faction) { PutOnTop = false, Card = card };
}
