<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaRevivalPrevention>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Karma) to prevent revival</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="target" Values="KarmaRevivalPrevention.GetValidTargets(Game, Player)" Required=true ImageWidth="40">
            <Label>Target</Label>
        </SelectFromImageComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Prevent Revival" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Purple;

    private Faction target;

    protected override KarmaRevivalPrevention ConfirmedResult => new KarmaRevivalPrevention(Game) { Initiator = Faction, Target = target };
}
