<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaHandSwapInitiated>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Karma) to perform a Hand Swap</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="target" Values="Game.PlayersOtherThan(Player)" Required=true ImageWidth="40">
            <Label>Target</Label>
        </SelectFromImageComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Initiate Swap" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Black;

    private Faction target;

    protected override KarmaHandSwapInitiated ConfirmedResult => new KarmaHandSwapInitiated(Game) { Initiator = Faction, Target = target };
}
