<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PlayerReplaced>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType() Collapsed=CollapseState.Collapsed>

    <Header>Replace a player with a Bot (or vice versa)</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="toReplace" Values="PlayerReplaced.ValidTargets(Game)" Required=true ImageWidth="40" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmLabel" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction toReplace;

    protected override PlayerReplaced ConfirmedResult => new PlayerReplaced(Game, Faction) { ToReplace = toReplace };

    private string ConfirmLabel => Game.GetPlayer(toReplace) != null && Game.GetPlayer(toReplace).IsBot ? "Replace by a human" : "Replace by a bot";
}