<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Prescience>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use Prescience</Header>
    <Body>

        @if (Game.CurrentBattle.IsInvolved(Faction.Blue))
        {
            <div class="text-info small mb-2">Note: Voice should be used before Prescience.</div>
        }

        <RadioComponent @bind-Value="aspect" Values="Prescience.ValidAspects(Game, Player)">
            <Label>What should be foreseen?</Label>
        </RadioComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Use Prescience" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Green;

    private PrescienceAspect aspect;

    protected override Prescience ConfirmedResult => new Prescience(Game, Faction) { Aspect = aspect };
}
