<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<ReplacedCardWon>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Replace the card you just won by discarding it and drawing a new card from the Treachery Card deck?</Header>
    <Body>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Yes" ConfirmError=@Validation Pass="Pass" PassText="No" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => false;

    protected override ReplacedCardWon ConfirmedResult => new ReplacedCardWon(Game) { Initiator = Faction, Passed = false };

    protected override ReplacedCardWon PassedResult => new ReplacedCardWon(Game) { Initiator = Faction, Passed = true };
}
