<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<SetIncreasedRevivalLimits>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Which factions may have their revival limit increased to 5?</Header>
    <Body>

        <SelectFromImageComponent Selected="factions" Values="SetIncreasedRevivalLimits.ValidTargets(Game, Player)" T=Faction OnChanged=StateHasChanged Required=true ImageWidth="40" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Set increased limits" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Purple;

    private List<Faction> factions = new List<Faction>();

    protected override void OnInitialized()
    {
        factions.AddRange(Game.FactionsWithIncreasedRevivalLimits);
    }

    protected override SetIncreasedRevivalLimits ConfirmedResult => new SetIncreasedRevivalLimits(Game) { Initiator = Faction, Factions = factions.ToArray() };
}
