<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TestingStationUsed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use the @Name(DiscoveryToken.TestingStation)?</Header>
    <Body>

        <RadioComponent @bind-Value="amount" Values=@(new int[] { -1, 1 }) ValueLabels=@(new string[] { "Subtract one from storm movement", "Add one to storm movement" }) />

        <ButtonRowComponent Confirm="Confirm" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private int amount;

    protected override TestingStationUsed ConfirmedResult => new TestingStationUsed(Game, Faction) { ValueAdded = amount };
}
