<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TraitorsSelected>

<div class="card p-1 mb-2 border-primary">
    <div class="card-header">Select which traitor to keep</div>
    <div class="card-body">

        <SelectHeroComponent @bind-Value="traitor" Values="h.Player.Traitors" />

        <button class="btn btn-primary mt-1" @onclick="Confirm" disabled=@(!Valid)>Ok</button>
        <div class="text-danger bg-dark">@validationError</div>

    </div>
</div>

@code {

    private IHero traitor;

    protected override TraitorsSelected ConfirmedResult
    {
        get
        {
            return new TraitorsSelected(h.Game) { Initiator = h.Faction, SelectedTraitor = traitor };
        }
    }
}