<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TraitorsSelected>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Select which leader to keep as your traitor</Header>
    <Body>

        <SelectFromImageComponent Game="Game" @bind-Value="traitor" Values="Player.Traitors" ImageWidth="80"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Keep {0}", traitor)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private IHero traitor;

    protected override TraitorsSelected ConfirmedResult => new TraitorsSelected(Game, Faction) { SelectedTraitor = traitor };
}