<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TraitorDiscarded>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Select a traitor to discard</Header>
    <Body>

        <SelectFromImageComponent Game="Game" @bind-Value="hero" Values=@TraitorDiscarded.ValidTraitors(Player) Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Discard {0}", hero)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private IHero hero;

    protected override TraitorDiscarded ConfirmedResult => new TraitorDiscarded(Game, Faction) { Traitor = hero };
}
