<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TreacheryCalled>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Call TREACHERY?</Header>
    <Body>

        @if (TreacheryCalled.MayCallTreachery(Game, Player))
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="TREACHERY!" ConfirmError=@Validation Pass="Pass" PassText="Pass" />
        }
        else
        {
            <ButtonRowComponent Pass="Pass" PassText="Pass" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    protected override TreacheryCalled ConfirmedResult => new TreacheryCalled(Game) { Initiator = Faction, TraitorCalled = true };

    protected override TreacheryCalled PassedResult => new TreacheryCalled(Game) { Initiator = Faction, TraitorCalled = false };
}