<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<WhiteKeepsUnsoldCard>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Do you wish to get the card no faction bid on for free or should it be removed from the game?</Header>
    <Body>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Get for free" ConfirmError=@Validation Pass="Pass" PassText="Remove from game" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.White;

    protected override WhiteKeepsUnsoldCard ConfirmedResult => new WhiteKeepsUnsoldCard(Game) { Initiator = Faction, Passed = false };

    protected override WhiteKeepsUnsoldCard PassedResult => new WhiteKeepsUnsoldCard(Game) { Initiator = Faction, Passed = true };
}
