<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<WhiteGaveCard>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Give your ally a card?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="WhiteGaveCard.ValidCards(Player)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Give {0}", card)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.White;

    private TreacheryCard card;

    protected override WhiteGaveCard ConfirmedResult => new WhiteGaveCard(Game) { Initiator = Faction, Card = card };
}
