<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Client.GenericComponents;

<ModalComponent Id="@Id" Title="Credits">

    <table class="table-borderless text-center">
        <tbody>
            <tr>
                <td style="width: 50%" class="p-2 text-end align-text-top">Game Development</td>
                <td style="width: 50%" class="p-2 text-start align-text-top fw-bold">Ronald Ossendrijver, <a href="mailto:admin@treachery.online" target="_blank">admin@treachery.online</a></td>
            </tr>
            <tr>
                <td style="width: 50%" class="p-2 text-end align-text-top">Design &amp; Artwork</td>
                <td style="width: 50%" class="p-2 text-start align-text-top fw-bold">Ilya Baranovsky, Reinier de Graaf &amp; Piper</td>
            </tr>
            <tr>
                <td style="width: 50%" class="p-2 text-end align-text-top">Leader &amp; Treachery Card Artwork</td>
                <td style="width: 50%" class="p-2 text-start align-text-top fw-bold">Avalon Hill</td>
            </tr>
            <tr>
                <td style="width: 50%" class="p-2 text-end align-text-top">Music</td>
                <td style="width: 50%" class="p-2 text-start align-text-top fw-bold">St&eacute;phane Picq & Philippe Ulrich</td>
            </tr>
            <tr>
                <td style="width: 50%" class="p-2 text-end align-text-top">Donations</td>
                <td style="width: 50%" class="p-2 text-start align-text-top fw-bold">
                    Andries, Stuart, Eamon, Adriaan, Luca, Valerio, Richard, Peter, Patrick, Vladislav, <strong>Derek</strong>, Darren, Doug, Aaron, Marko, Daniel, Erik, Shea, Justin, Lee, Marko, Aaron W.,
                    Tom, Nathan, Denis, Jason, Stefan, Eliot, Dean, Chris, Sebastian, Brian, Nikita, Andreas, Klaude, Robert, Frederic, Howard, Francis, Marc, Andr&eacute;, Kenny, William, 
                    Jean-Fran&ccedil;ois, Jorge, MelonNinja, Donovan, <strong>Ken-Yu</strong>, Peter, John, Maxwell, Dominic, Conquer Today, Duane, Michael, Rodrigo, Salvatore, André,
                    Petr, Oliver, Sam, Vytautas, Erik, Marcel, Justin, Dimitris, Jerry, Sheehan, Graydon &amp; Jerrod

                </td>
            </tr>
        </tbody>
    </table>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form-group form-inline mt-1 mb-0 p-0">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="X6BLRPXHX7HDQ" />
        <input type="image" src="art/donate.svg" border="0" height="36" name="submit" title="Donate CHOAM Charity using PayPal" alt="Donate" />
    </form>

</ModalComponent>

@code {

    [Parameter]
    public string Id { get; set; } = "";
}