@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent

<div class="card mb-2 shadow-lg border-light" style="opacity:0.9;animation:fadeIn90 3s;">
    <div class="card-header">Please enter your player name to start playing!</div>
    <div class="card-body">
        <input @ref="inputField" class="form-control" @bind-value="playername" @bind-value:event="oninput" maxlength="24" placeholder="Your name" @onkeyup="@KeyUp"/>
        <button class="btn btn-primary mt-1" disabled="@(!IsValid)" @onclick="Confirm">Confirm</button>
    </div>
    <div class="card-footer">Version @Game.LatestVersion (July 2024)</div>
</div>

@code {

    private string playername;
    private ElementReference inputField;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await inputField.FocusAsync();
        }
    }

    private async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Confirm();
        }
    }

    private bool IsValid => PlayerJoined.ValidName(playername) == "";

    private async Task Confirm() {

        if (PlayerJoined.ValidName(playername) == "")
        {
            await Client.SetPlayerName(playername);
        }
    }
}
