<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameComponent

<div class="card mb-2 shadow-lg">
    <div class="card-header">Please enter your player name to start playing!</div>
    <div class="card-body">
        <input @ref=inputField class="form-control" @bind-value="playername" @bind-value:event="oninput" maxlength="24" placeholder="Your name" @onkeyup=@KeyUp/>
        <button class="btn btn-primary mt-1" disabled="@(!IsValid)" @onclick="Confirm">Confirm</button>
    </div>
</div>

@code {

    private string playername;
    private ElementReference inputField;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await inputField.FocusAsync();
        }
    }

    private async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Confirm();
        }
    }

    private bool IsValid => PlayerJoined.ValidName(playername) == "";

    private async Task Confirm() {

        if (PlayerJoined.ValidName(playername) == "")
        {
            await h.SetPlayerName(playername);
        }
    }
}
