<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent

@{
    var messages = Report.Messages.Where(m => m.Target == Faction.None || m.Target == h.Faction).OrderByDescending(m => m.Nr).ToList();

    <div class="card border-light pb-1">

        <div class="card-header text-center">@Skin.Current.Describe(h.Game.CurrentReport.About) Report</div>

        <div class="card-body p-1 overflow-auto">

            @if (messages.Any())
            {
                foreach (var message in Report.Messages.Where(m => m.Target == Faction.None || m.Target == h.Faction).OrderByDescending(m => m.Nr))
                {
                    <div style="@FontStyle(message)">
                        <ExpressionComponent Expression=message.Expression Game=Game Size=20/>
                    </div>
                }
            }
            else
            {
                <div class="mt-1 ps-1 pe-1"><i>Nothing to report</i></div>
            }

        </div>

    </div>
}

@code {

    [Parameter]
    public Report Report { get; set; }

    private string FontStyle(Message m) => m.Target == Faction.None ? "" : "font-style: italic;";
}
