@inherits GameComponent

@if (!Client.StatisticsSent)
{
    <div class="card mb-2" style="animation:fadeIn 1s;">
        <div class="card-header" style="cursor:pointer">
            Upload Game Results?
        </div>
        <div class="card-body">
            You may now upload the results of this game to <a href="https://dune.games" target="_blank">https://dune.games</a>. This site has a Dune leaderboard and keeps track of game duration, faction wins, etcetera.
            <div class="text-end">
                <button class="btn btn-primary mt-1" @onclick="ConfirmUpload">Yes, upload statistics</button>
            </div>
        </div>
    </div>
}

@code {

    private async Task ConfirmUpload()
    {
        await Client.Host.UploadStatistics(Client.Game);
        Client.StatisticsSent = true;
        StateHasChanged();
    }
}
