@using Treachery.Client.GenericComponents
@inherits GameComponent

@if (!h.StatisticsSent)
{
    <div class="card p-1 mb-2">
        <div class="card-header">
            Upload Statistics?
        </div>
        <div class="card-body">
            You may now upload the results of this game to <a href="https://dune.games" target="_blank">https://dune.games</a>. This site has a Dune leaderboard and keeps track of game duration, faction wins, etcetera.
            <button class="btn btn-primary mt-1" @onclick="ConfirmUpload">Upload</button>
        </div>
    </div>
}

@code {

    private async Task ConfirmUpload()
    {
        await h.Host.UploadStatistics(h.Game);
        h.StatisticsSent = true;
        StateHasChanged();
    }
}
