<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent;

<div class="card p-1 mb-2 border-light" style="animation:fadeIn 3s;">
    <div class="card-header">Victory!</div>
    <div class="card-body">

        @foreach (var w in Client.Game.Winners)
        {
            <h1 class="h1"><img width="72" src="@Skin.Current.GetImageURL(w.Faction)" /> @w.Name</h1>
        }

        @if (!Game.Applicable(Rule.DisableEndOfGameReport))
        {
            <button class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#storyModal">Read the story of this game...</button>
            <StoryComponent Id="storyModal" Game="Client.Game" />
        }

    </div>
</div>
