<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent;

<div class="card p-1 mb-2 border-light">
    <div class="card-header">Victory!</div>
    <div class="card-body">

        @foreach (var w in h.Game.Winners)
        {
            <h1 style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;"><img width="80" src="@Skin.Current.GetImageURL(w.Faction)" /> @w.Name</h1>
        }

        @if (!Game.Applicable(Rule.DisableEndOfGameReport))
        {
            <button class="btn btn-primary mt-1" data-toggle="modal" data-target="#storyModal">Read the story of this game...</button>
            <StoryComponent Id="storyModal" Game="h.Game" />
        }

    </div>
</div>
