@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent;

<div class="card p-1 mb-2 border-light" style="animation:fadeIn 3s;">
    <div class="card-header">Victory!</div>
    <div class="card-body">

        @foreach (var w in Client.Game.Winners)
        {
            <h1 class="h1"><img width="72" src="@Skin.Current.GetImageURL(w.Faction)" /> @w.Name</h1>
        }

        @if (!Game.Applicable(Rule.DisableEndOfGameReport))
        {
            <button class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#storyModal">Read the story of this game...</button>
            <StoryComponent Id="storyModal" Game="Client.Game" />
        }

    </div>
</div>
