.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main {
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.content {
    height: 100dvh;
}

@media (max-width: 720px) {
    .content {
        height: 100dvh;
    }
}
