<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@inherits MapComponent

<div id="planetmap" style="position:absolute; left:0px">

    <div id="planetmap_inner" style="position:absolute; width:@Px(Skin.Current.MapDimensions.X); height:@Px(Skin.Current.MapDimensions.Y);">

        <BackgroundImage X="0" Y="0" Width=@Skin.Current.MapDimensions.X Height=@Skin.Current.MapDimensions.Y Src=@Skin.Current.Map_URL/>

        @if (h.Game.CurrentPhase > Phase.AwaitingPlayers)
        {
            <div style="width:100%; height:100%;">

                <SSW h="h" />
                <ResourcesOnPlanet h="h" />
                <Monsters h="h" />
                <Phases h="h" />
                <CardPiles h="h" />
                <Planet h="h" OnLocationClick="@OnLocationClick"/>
                <Players h="h" />
                <RecentMoves h="h" />
                <ForcesOnPlanet h="h" OnLocationClick="@OnLocationClick" />
                <Bids h="h" />
                <Tanks h="h" />
                <Disconnection h="h" />
                <BattlePlans h="h" />

            </div>
        }

    </div>

</div>

<div id="planetmap-filler" style="display:block" />

@code {

    [Parameter]
    public EventCallback<LocationEventArgs> OnLocationClick { get; set; }
}
