@using Treachery.Shared
@using System.Globalization;

@code {

    [Parameter]
    public Handler h { get; set; }

    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public float X { get; set; }

    [Parameter]
    public float Y { get; set; }

    [Parameter]
    public float Diameter {

        get {

            return Width;
        }

        set {

            Width = value;
            Height = value;
        }
    }

    [Parameter]
    public float Width { get; set; }

    [Parameter]
    public float Height { get; set; }

    [Parameter]
    public float Opacity { get; set; } = 1.0f;

    protected const float TWOPI = 6.2831853072f;

    protected Game Game => h.Game;

    protected string Px(float x) => (int)x + "px";

    protected string Round(float x) => Math.Round(x, 2).ToString(CultureInfo.InvariantCulture);

    protected string Round(double x) => Math.Round(x, 2).ToString(CultureInfo.InvariantCulture);

    private string _id = null;
    protected string Id
    {
        get
        {
            if (_id == null)
            {
                _id = GenerateId();
            }

            return _id;
        }
    }

    private static int nextId = 0;
    protected string GenerateId()
    {
        return (nextId++).ToString();
    }

    protected static bool Near(Point p, int x, int y, int distance)
    {
        return Math.Abs(p.X - x) < distance && Math.Abs(p.Y - y) < distance;
    }

    protected static bool Near(Point p, Point p2, int distance)
    {
        return Math.Abs(p.X - p2.X) < distance && Math.Abs(p.Y - p2.Y) < distance;
    }

    protected static Point PlayerTokenPosition(Game game, int positionAtTable)
    {
        var positionSector = Math.Floor((float)positionAtTable * Map.NUMBER_OF_SECTORS / game.MaximumNumberOfPlayers);
        double angle = (4.5 - positionSector) * TWOPI / Map.NUMBER_OF_SECTORS;
        var x = Skin.Current.PlanetCenter.X + (int)(Skin.Current.MapRadius * Math.Cos(angle));
        var y = Skin.Current.PlanetCenter.Y + (int)(Skin.Current.MapRadius * Math.Sin(angle));
        return new Point(x, y);
    }

    protected static Point CloserTo(Point a, Point b, float percentage)
    {
        return new Point()
        {
            X = a.X + (int)(percentage * (b.X - a.X)),
            Y = a.Y + (int)(percentage * (b.Y - a.Y)),
        };
    }

    protected static string PopoverTemplate => "<div class=\"popover\" role=\"tooltip\" style=\"background-color:black;text-align:center;\"><div class=\"arrow\"></div><h3 class=\"popover-header\"></h3><div class=\"popover-body\"></div></div>";
}
