@using System.Globalization
@implements IDisposable

@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

@code {

    protected override void OnInitialized()
    {
        Client.RefreshHandler += StateHasChanged;
    }

    private double _x;
    [Parameter]
    public double X { get; set; }

    private double _y;
    [Parameter]
    public double Y { get; set; }

    private PointD _xy;
    [Parameter]
    public PointD XY { get; set; }

    private double _diameter;
    [Parameter]
    public double Diameter { get; set; }

    private double _width;
    [Parameter]
    public double Width { get; set; }

    private double _height;
    [Parameter]
    public double Height { get; set; }

    [Parameter]
    public double Opacity { get; set; } = 1.0f;

    [Parameter]
    public string PopoverStyle { get; set; } = "background-color:black;text-align:center;border:1px solid white;padding:3px 3px 3px 3px;filter:drop-shadow(-5px 5px 2px #000000AA);";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Diameter != _diameter)
        {
            _diameter = Diameter;
            _width = _diameter;
            Width = _diameter;
            _height = _diameter;
            Height = _diameter;
        }
        else if (Width != _width || Height != _height)
        {
            _width = Width;
            _height = Height;
            _diameter = Math.Max(_width, _height);
            Diameter = _diameter;
        }

        if (XY != _xy)
        {
            _xy = XY;
            _x = _xy.X;
            X = _xy.X;
            _y = _xy.Y;
            Y = _xy.Y;
        }
        else if (X != _x || Y != _y)
        {
            _x = X;
            _y = Y;
            _xy = new PointD(_x, _y);
            XY = _xy;
        }
    }

    protected const float TWOPI = 6.2831853072f;

    protected Game Game => Client.Game;

    protected Player Player => Client.Player;

    protected string Px(double x)
    {
        return Round(x) + "px";
    }

    protected string Round(double x)
    {
        return Math.Round(x, 3).ToString(CultureInfo.InvariantCulture);
    }

    private string _id;
    protected string Id
    {
        get
        {
            if (_id == null)
            {
                _id = GenerateId();
            }

            return _id;
        }
    }

    private static int nextId;
    protected string GenerateId()
    {
        return (nextId++).ToString();
    }

    protected static bool Near(PointD p, int x, int y, int distance)
    {
        return Math.Abs(p.X - x) < distance && Math.Abs(p.Y - y) < distance;
    }

    protected static bool Near(PointD p, PointD p2, int distance)
    {
        return Math.Abs(p.X - p2.X) < distance && Math.Abs(p.Y - p2.Y) < distance;
    }

    protected static PointD PlayerTokenPosition(Game game, int positionAtTable)
    {
        var positionSector = Math.Floor((float)positionAtTable * Map.NUMBER_OF_SECTORS / game.MaximumNumberOfPlayers);
        var angle = (4.5 - positionSector) * TWOPI / Map.NUMBER_OF_SECTORS;
        var x = Skin.Current.PlanetCenter.X + (float)(Skin.Current.MapRadius * Math.Cos(angle));
        var y = Skin.Current.PlanetCenter.Y + (float)(Skin.Current.MapRadius * Math.Sin(angle));
        return new PointD(x, y);
    }

    protected string PopoverTemplate => string.Format("<div class=\"popover\" role=\"tooltip\" style=\"{0}\"><div class=\"arrow\"></div><h3 class=\"popover-header p-0\"></h3><div class=\"popover-body p-0\"></div></div>", PopoverStyle);


    protected string ScaledFont(string font, float scale)
    {
        var fontsizeLower = font.ToLower();
        var result = "";

        foreach (var fontDefinitionPart in fontsizeLower.Split(' ')) {

            if (fontDefinitionPart.Contains("px")) {

                if (float.TryParse(fontDefinitionPart.Remove(fontDefinitionPart.IndexOf("px")), out var fontsizeNumber))
                {
                    result += " " + Px(scale * fontsizeNumber);
                }
                else
                {
                    result += " " + fontDefinitionPart;
                }
            }
            else
            {
                result += " " + fontDefinitionPart;
            }
        }

        return result;
    }

    protected string Intel(Location intelligenceLocation)
    {
        var result = "<div style='width:300px'>";

        if (Game.StrongholdOwnership.TryGetValue(intelligenceLocation, out var owner))
        {
            result += Popup.Get(intelligenceLocation.Advantage, owner);
        }
        else
        {
            result += Skin.Current.Format("<h5>{0}</h5>", Skin.Current.Describe(intelligenceLocation.Territory));
            if (intelligenceLocation.Orientation != "")
            {
                result += "<div class='mt-0 mb-2'><strong>Sector: " + intelligenceLocation.Orientation + "</strong></div>";
            }
        }

        if (Skin.Current.ShowVerboseToolipsOnMap)
        {
            if (intelligenceLocation == Game.Map.PolarSink)
            {
                result += Skin.Current.Format("<p>Safe haven: no battles are fought here.</p>");
            }

            if (intelligenceLocation.Territory.IsStronghold || Game.IsSpecialStronghold(intelligenceLocation.Territory))
            {
                result += Skin.Current.Format("<p>Yields a victory point at end of turn.</p>");
            }

            if (intelligenceLocation is DiscoveredLocation dl)
            {
                result += Skin.Current.Format("<p>{0}.</p>", Skin.Current.GetDiscoveryTokenDescription(dl.Discovery));
            }

            if (intelligenceLocation.Territory == Game.AtomicsAftermath)
            {
                result += Skin.Current.Format("<p>ATOMICS AFTERMATH - No shipping here.</p>");
            }

            if (intelligenceLocation == Game.Map.Arrakeen || intelligenceLocation == Game.Map.Carthag)
            {
                result += Skin.Current.Format("<p><strong>Harvesters: </strong>when occupied, grants a {0} collection rate of 3-per-force.</p>", Concept.Resource);
                result += Skin.Current.Format("<p><strong>Ornithopters: </strong>when occupied, your forces can move up to 3 territories.</p>", Concept.Resource);
            }

            if (Game.Applicable(Rule.IncreasedResourceFlow))
            {
                if (intelligenceLocation == Game.Map.Arrakeen || intelligenceLocation == Game.Map.Carthag || intelligenceLocation == Game.Map.TueksSietch)
                {
                    var bonus = intelligenceLocation == Game.Map.Arrakeen || intelligenceLocation == Game.Map.Carthag ? 2 : 1;
                    result += Skin.Current.Format("<p>Yields <strong>{0} {1}</strong> at end of turn when occupied.</p>", bonus, Concept.Resource);
                }
            }

            result += Skin.Current.Format("<p>{0} from {1}.</p>", ProtectedFromMonsterText(intelligenceLocation), Concept.Monster);
            result += Skin.Current.Format("<p>{0} from Storms.</p>", ProtectedFromStormText(intelligenceLocation));

            if (intelligenceLocation.Sector == Game.SectorInStorm)
            {
                result += "<p>Currently in Storm.</p>";
            }

            if (intelligenceLocation.SpiceBlowAmount > 0)
            {
                result += Skin.Current.Format("<p>May contain <strong>{0} {1}</strong> after {2}.</p>", intelligenceLocation.SpiceBlowAmount, Concept.Resource, MainPhase.Blow);
            }
        }

        result += SpiceAndForceAndTokenInfo(intelligenceLocation);

        result += "</div>";

        return result;
    }

    protected string SpiceAndForceAndTokenInfo(Location intelligenceLocation)
    {
        var result = "";

        result += "<div class=\"row m-0 bg-dark d-flex justify-content-center\">";

        if (Game.ResourcesOnPlanet.ContainsKey(intelligenceLocation))
        {
            result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" /><strong>&nbsp;{1}</strong></div>",
                Skin.Current.Harvester_URL,
                Game.ResourcesOnPlanet[intelligenceLocation]);
        }

        if (Game.ForcesOnPlanetExcludingEmptyLocations().ContainsKey(intelligenceLocation))
        {
            foreach (var b in Game.BattalionsIn(intelligenceLocation))
            {
                var p = Game.GetPlayer(b.Faction);
                if (b.AmountOfSpecialForces > 0 || b.AmountOfForces > 0)
                {
                    if (b.AmountOfForces > 0)
                    {
                        result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" /><strong>&nbsp;{1}</strong></div>",
                            Skin.Current.GetFactionForceImageURL(p.Faction),
                            b.AmountOfForces);
                    }

                    if (b.AmountOfSpecialForces > 0)
                    {
                        result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" /><strong>&nbsp;{1}</strong></div>",
                            Skin.Current.GetFactionSpecialForceImageURL(p.Faction),
                            b.Faction == Faction.White && Client.Faction != Faction.White ? "?" : "" + (b.Faction == Faction.White ? Game.CurrentNoFieldValue : b.AmountOfSpecialForces));
                    }
                }
            }
        }

        if (Game.TerrorIn(intelligenceLocation.Territory).Any())
        {
            result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" style=\"filter:hue-rotate(180deg);\" /><strong>&nbsp;{1}</strong></div>",
                Skin.Current.GetImageURL(Faction.Cyan),
                Game.TerrorIn(intelligenceLocation.Territory).Count());
        }

        var ambassador = Game.AmbassadorIn(intelligenceLocation.Territory);
        if (ambassador != Ambassador.None)
        {
            result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" /><strong></div>",
                Skin.Current.GetImageURL(ambassador));
        }

        if (Game.DiscoveriesOnPlanet.TryGetValue(intelligenceLocation, out var discovery))
        {
            result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"32\" height=\"32\" src=\"{0}\" /></div>",
                Skin.Current.GetImageURL(discovery.TokenType));
        }

        foreach (var hero in Game.LeaderState.Where(state => state.Key is IHero && state.Value.Alive && state.Value.CurrentTerritory == intelligenceLocation.Territory).Select(state => state.Key))
        {
            result += string.Format("<div class=\"col col-auto\"><img class=\"img-fluid m-0 p-0\" width=\"64\" height=\"64\" src=\"{0}\" /></div>",
                        Skin.Current.GetImageURL(hero));
        }

        result += "</div>";

        return result;
    }

    protected string ProtectedFromMonsterText(Location l)
    {
        return l.Territory.IsProtectedFromWorm ? "Protected" : "NOT protected";
    }

    protected string ProtectedFromStormText(Location l)
    {
        return Client.Game.IsProtectedFromStorm(l) ? "Protected" : "NOT protected";
    }

    protected ElementReference element;
    
    public void Dispose()
    {
        Client.RefreshHandler -= StateHasChanged;
    }
}
