@using Treachery.Shared;

<img style="position:absolute; top:@Px(Y); left:@Px(X);" width=@(2*Skin.Current.FORCETOKEN_RADIUS) height=@(2*Skin.Current.FORCETOKEN_RADIUS) src="@ForceURL" />

<span style="position:absolute; top:@Px(Y+20); left:@Px(X+30); font:@Skin.Current.FORCETOKEN_FONT; -webkit-text-stroke:@Skin.Current.FORCETOKEN_FONT_BORDERWIDTH; -webkit-text-stroke-color:@Skin.Current.FORCETOKEN_FONT_BORDERCOLOR">@Amount</span>

@code {

    [Parameter]
    public float X { get; set; }

    [Parameter]
    public float Y { get; set; }

    [Parameter]
    public bool Special { get; set; }

    [Parameter]
    public int Amount { get; set; }

    [Parameter]
    public Faction Faction { get; set; }

    [Parameter]
    public bool Threatened { get; set; }

    private string ForceURL => Special ? Skin.Current.GetFactionSpecialForceImageURL(Faction) : Skin.Current.GetFactionForceImageURL(Faction);

    private string Px(float x) => x + "px";

}
