@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits MapComponent;
@implements IDisposable;

<div @ref=@element @attributes=_attributes style=@($"position:absolute;left:{Px(X)};top:{Px(Y)};")>

    @for (int i = 0; i < Amount; i++)
    {
        <img style=@($"{PointerType};position:absolute;left:{Px(-0.07 * i * Diameter)};top:{Px(-0.08 * i * Diameter)};width:{Diameter}px;opacity:{Opacity};filter:drop-shadow({Px(ShadowSize)} {Px(ShadowSize)} {Px(ShadowBlur)} {ShadowColor})") src=@ForceURL />
    }

</div>

@if (!(Faction == Faction.White && Special || Amount == 0))
{
    <MapText ToShow="@Amount.ToString()" X=@(X + 0.5f * Diameter) Y=@(Y + 0.5f * Diameter) Font=@Font BorderWidth=@BorderWidth BorderColor=@BorderColor />
}

@code {

    [Parameter]
    public bool Special { get; set; } = false;

    [Parameter]
    public int Amount { get; set; }

    [Parameter]
    public Faction Faction { get; set; }

    [Parameter]
    public bool Threatened { get; set; } = false;

    [Parameter]
    public bool ShowPopover { get; set; } = true;

    private bool _popoverNeedsRefresh = false;

    [Parameter]
    public string Font { get; set; } = "";

    private Dictionary<string, object> _attributes;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Diameter == 0) Diameter = 2 * Skin.Current.FORCETOKEN_RADIUS;
        if (Font == "") Font = Skin.Current.FORCETOKEN_FONT;

        _attributes = new();

        if (ShowPopover) 
        {
            _attributes.Add("data-bs-trigger", "hover");
            _attributes.Add("data-bs-toggle", "popover");
            _attributes.Add("data-bs-html", "true");
            _attributes.Add("data-bs-animation", "false");
            _attributes.Add("data-bs-delay", "100");
            _attributes.Add("data-container", "body");
            _attributes.Add("data-bs-content", $"<div style='position:relative'><img style='position:relative;filter:drop-shadow(-2px 2px 1px black);' src='{ForceURL}' width=80/><span style='color:white;font-size:32px;font-weight:900;position:absolute;left:55px;top:-10px;-webkit-text-stroke:1px black'>{Amount}</span></div>");
            _popoverNeedsRefresh = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Browser.EnablePopover(element);
        }
        else if (_popoverNeedsRefresh)
        {
            _popoverNeedsRefresh = false;
            await Browser.RefreshPopover(element);
        }
    }

    private string ForceURL => Special ? Skin.Current.GetFactionSpecialForceImageURL(Faction) : Skin.Current.GetFactionForceImageURL(Faction);

    private string ShadowColor => Threatened ? "red" : Skin.Current.SHADOW;

    private float ShadowSize => Threatened ? 1f : 0.5f;

    private float ShadowBlur => Threatened ? 1f : 0.5f;

    private string BorderColor => Threatened ? "red" : Skin.Current.FORCETOKEN_FONT_BORDERCOLOR;

    private int BorderWidth => Threatened ? 2 * Skin.Current.FORCETOKEN_FONT_BORDERWIDTH : Skin.Current.FORCETOKEN_FONT_BORDERWIDTH;

    private string PointerType => ShowPopover ? "" : "pointer-events:none";

    public void Dispose()
    {
        _ = Browser.RemovePopover(element);
    }
}
