@using Treachery.Shared;
@inherits MapComponent;

@{
    for (int i = 0; i < Amount; i++)
    {
        <Image X=@(X - i * 3 - Skin.Current.FORCETOKEN_RADIUS) Y=@(Y - i * 5 - Skin.Current.FORCETOKEN_RADIUS) Diameter=@Diameter Src="@ForceURL" 
               ShadowColor="@Skin.Current.SHADOW_LIGHT" ShadowX="3" ShadowY="3" ShadowBlur="2"
               Popover="@Popover"/>
    }
}

<MapText ToShow="@Amount.ToString()" X=@(X+10) Y=@(Y+70) Font=@Skin.Current.FORCETOKEN_FONT BorderWidth=@Skin.Current.FORCETOKEN_FONT_BORDERWIDTH BorderColor=@Skin.Current.FORCETOKEN_FONT_BORDERCOLOR/>

@code {

    [Parameter]
    public bool Special { get; set; } = false;

    [Parameter]
    public int Amount { get; set; }

    [Parameter]
    public Faction Faction { get; set; }

    [Parameter]
    public bool Threatened { get; set; } = false;

    [Parameter]
    public bool ShowPopover { get; set; } = true;

    protected override void OnInitialized()
    {
        Diameter = 2 * Skin.Current.FORCETOKEN_RADIUS;
    }

    private string ForceURL => Special ? Skin.Current.GetFactionSpecialForceImageURL(Faction) : Skin.Current.GetFactionForceImageURL(Faction);

    private string Popover => ShowPopover ? string.Format("<img style='float:left' src='{0}' width=100/><h3 style='float:right'>{1}</h3>", ForceURL, Amount) : null;
}
