@inherits MapComponent

<span style="position: absolute; white-space: nowrap; left: @Px(AlignedX); top: @Px(Y-80); font: @Font; color: @FontColor; max-width: @Px(MaxWidth); -webkit-text-stroke-width: @Px(BorderWidth); -webkit-text-stroke-color: @BorderColor;">
    @ToShow
</span>

@code {

    [Parameter]
    public string ToShow { get; set; }

    [Parameter]
    public string Font { get; set; }

    [Parameter]
    public string FontColor { get; set; } = "white";

    [Parameter]
    public int BorderWidth { get; set; } = 0;

    [Parameter]
    public string BorderColor { get; set; } = "black";

    [Parameter]
    public TextAlignment Align { get; set; } = TextAlignment.Left;

    [Parameter]
    public float MaxWidth { get; set; } = 4096;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private float AlignedX;
    protected override async Task OnInitializedAsync()
    {
        AlignedX = await GetAlignedX();
    }

    private async Task<float> GetAlignedX()
    {
        switch (Align)
        {
            case TextAlignment.Center: return X - 0.5f * await Browser.MeasureText(ToShow, Font);
            case TextAlignment.Right: return X - await Browser.MeasureText(ToShow, Font);
            default: return X;
        }
    }
}
