@using Treachery.Shared

<div style="position: relative; width: 100%; height: 100%; transform: scale(0.3)">

    <div style="position:absolute; width:@Px(Skin.Current.MapDimensions.X); height:@Px(Skin.Current.MapDimensions.Y);">

        <Image X="0" Y="0" Width=@Skin.Current.MapDimensions.X Height=@Skin.Current.MapDimensions.Y Src=@Skin.Current.Map_URL />

        @if (h.Game.CurrentPhase > Phase.AwaitingPlayers)
        {
            <div style="width:100%; height:100%;">

                <ShieldWall h="h" />
                <SSW h="h" />
                <Turn h="h" />
                <ResourcesOnPlanet h="h" />
                <Monsters h="h" />
                <StormAndStormPrescience h="h" />
                <Phases h="h" />
                <Highlights h="h" />
                <Players h="h" />
                <HMS h="h" />
                <StrongholdOwnership h="h" />
                <RecentMoves h="h" />
                <ForcesOnPlanet h="h" />
                <Bids h="h" />
                <Tanks h="h" />
                <CardPiles h="h" />
                <BattlePlans h="h" />
                <Disconnection h="h" />
                <Options h="h" />

            </div>
        }

    </div>

</div>

@code {

    [Parameter]
    public Handler h { get; set; }

    private string Px(float x) => x + "px";
}
