<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@inherits GameComponent

<div class="form-check @Class">
    <input class="form-check-input" style="cursor:pointer" type="checkbox" id="@Id" @bind="Value">
    <label class="form-check-label" style="cursor:pointer" for="@Id">@ChildContent</label>
</div>

@code {

    private bool _value;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Value
    {
        get
        {
            return _value;
        }
        set
        {
            if (_value != value)
            {
                _value = value;
                ValueChanged.InvokeAsync(value);
                OnChanged?.Invoke(value);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public Action<bool> OnChanged { get; set; }

    [Parameter]
    public string Class { get; set; } = "";
}
