<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@inherits GameComponent

<table class="table table-bordered border-light table-sm m-0 w-auto">
    <tbody >

        @foreach (var l in Locations)
        {
            <tr class="small bg-transparent">

                @if (AlwaysShowLocation || Locations.Count() > 1)
                {
                    <td>@l.ToString()</td>
                }

                @if (Max(l) > 0)
                {
                    @if (MaySelectFromStorm || l.Sector != Game.SectorInStorm)
                    {
                        <td><SelectForcesComponent Value="@ForceAmount(l, false)" OnDown="(e => ForceAmountButton(l, -1, false))" OnUp="(e => ForceAmountButton(l, 1, false))" Min="Min" Max="Max(l)" Faction="Faction" Special="false"/></td>
                    }
                    else
                    {
                        <td class="font-italic text-danger">cannot move from storm</td>
                    }
                }

                @if (MaxSpecial(l) > 0)
                {
                    if (MaySelectFromStorm || l.Sector != Game.SectorInStorm)
                    {
                        <td><SelectForcesComponent Value="@ForceAmount(l, true)" OnDown="(e => ForceAmountButton(l, -1, true))" OnUp="(e => ForceAmountButton(l, 1, true))" Min="Min" Max="MaxSpecial(l)" Faction="Faction" Special="true" /></td>
                    }
                    else
                    {
                        <td class="font-italic text-danger">cannot move from storm</td>
                    }
                }

            </tr>
        }

    </tbody>
</table>

@code {

        [Parameter]
        public Dictionary<Location, Battalion> Forces { get; set; }

        [Parameter]
        public IEnumerable<Location> Locations { get; set; }

        [Parameter]
        public bool MaySelectFromStorm { get; set; } = false;

        [Parameter]
        public bool AlwaysShowLocation { get; set; } = false;

        [Parameter]
        public bool FullLocationName { get; set; } = false;

        [Parameter]
        public int FixedMaxForces { get; set; } = -1;

        [Parameter]
        public int FixedMaxSpecialForces { get; set; } = -1;

        [Parameter]
        public Action OnChanged { get; set; }

        [Parameter]
        public bool AllowMultipleTerritories { get; set; } = false;

    private int Min => 0;
    private int Max(Location l) => FixedMaxForces > 0 ? FixedMaxForces : Player.ForcesIn(l);
    private int MaxSpecial(Location l) => FixedMaxSpecialForces > 0 ? FixedMaxSpecialForces : Player.SpecialForcesIn(l);

    private int ForceAmount(Location l, bool special)
    {
        if (Forces.ContainsKey(l))
        {
            if (special)
            {
                return Forces[l].AmountOfSpecialForces;
            }
            else
            {
                return Forces[l].AmountOfForces;
            }
        }
        else
        {
            return 0;
        }
    }

    private void ForceAmountButton(Location location, int amount, bool specialForces)
    {
        if (!AllowMultipleTerritories)
        {
            var currentLocation = Forces.Keys.FirstOrDefault();
            if (currentLocation != null && currentLocation.Territory != location.Territory)
            {
                Forces.Clear();
            }
        }

        if (Forces.ContainsKey(location))
        {
            if (specialForces)
            {
                Forces[location].ChangeSpecialForces(amount);
            }
            else
            {
                Forces[location].ChangeForces(amount);
            }
        }
        else if (amount > 0)
        {
            if (specialForces)
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = amount, AmountOfForces = 0 });
            }
            else
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = 0, AmountOfForces = amount });
            }
        }

        OnChanged?.Invoke();
    }
}
