<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;

<table class="table table-borderless table-sm m-0 w-auto">
    <tbody>

        @foreach (var l in Locations)
        {
            <tr class="small bg-transparent">

                @if (AlwaysShowLocation || Locations.Count() > 1)
                {
                    <td>@l.ToString()</td>
                }

                @if (Max(l) > 0)
                {
                    @if (MaySelectFromStorm || l.Sector != Game.SectorInStorm)
                    {
                        <td><SelectForcesComponent Value="@ForceAmount(l, false)" OnDown="(e => ChangeForceAmount(l, -1, false))" OnUp="(e => ChangeForceAmount(l, 1, false))" Min="Min" Max="Max(l)" Faction="Player.Faction" Special="false"/></td>
                    }
                    else
                    {
                        <td class="font-italic text-danger">cannot move from storm</td>
                    }
                }
                else
                {
                    SetForceAmount(l, 0, false);
                }

                @if (MaxSpecial(l) > 0)
                {
                    if (MaySelectFromStorm || l.Sector != Game.SectorInStorm)
                    {
                        <td><SelectForcesComponent Value="@ForceAmount(l, true)" OnDown="(e => ChangeForceAmount(l, -1, true))" OnUp="(e => ChangeForceAmount(l, 1, true))" Min="Min" Max="MaxSpecial(l)" Faction="Player.Faction" Special="true" /></td>
                    }
                    else
                    {
                        <td class="font-italic text-danger">cannot move from storm</td>
                    }
                }
                else
                {
                    SetForceAmount(l, 0, true);
                }

            </tr>
        }

    </tbody>
</table>

@code {

    [Parameter]
    public Game Game { get; set; }

    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public Dictionary<Location, Battalion> Forces { get; set; }

    [Parameter]
    public IEnumerable<Location> Locations { get; set; }

    [Parameter]
    public bool MaySelectFromStorm { get; set; } = false;

    [Parameter]
    public bool AlwaysShowLocation { get; set; } = false;

    [Parameter]
    public bool FullLocationName { get; set; } = false;

    [Parameter]
    public int FixedMaxForces { get; set; } = -1;

    [Parameter]
    public int FixedMaxSpecialForces { get; set; } = -1;

    [Parameter]
    public Action OnChanged { get; set; }

    [Parameter]
    public bool AllowMultipleTerritories { get; set; } = false;

    [Parameter]
    public bool InitializeToMaximum { get; set; } = false;

    protected override void OnParametersSet()
    {
        if (!AllowMultipleTerritories)
        {
            var currentTerritory = Forces.Keys.FirstOrDefault()?.Territory;
            if (currentTerritory != null && currentTerritory != Locations.FirstOrDefault()?.Territory)
            {
                Forces.Clear();
            }
        }

        if (InitializeToMaximum)
        {
            if (Forces.Count == 0) {

                foreach (var l in Locations)
                {
                    Forces.Add(l, new Battalion() { AmountOfForces = Max(l), AmountOfSpecialForces = MaxSpecial(l) });
                }

                OnChanged?.Invoke();
            }
        }
    }

    private int Min => 0;
    private int Max(Location l) => FixedMaxForces > 0 ? FixedMaxForces : Player.ForcesIn(l);
    private int MaxSpecial(Location l) => FixedMaxSpecialForces > 0 ? FixedMaxSpecialForces : Player.SpecialForcesIn(l);

    private int ForceAmount(Location l, bool special)
    {
        if (Forces.ContainsKey(l))
        {
            if (special)
            {
                return Forces[l].AmountOfSpecialForces;
            }
            else
            {
                return Forces[l].AmountOfForces;
            }
        }
        else
        {
            return 0;
        }
    }

    private void ChangeForceAmount(Location location, int amount, bool specialForces)
    {
        if (!AllowMultipleTerritories)
        {
            var currentLocation = Forces.Keys.FirstOrDefault();
            if (currentLocation != null && currentLocation.Territory != location.Territory)
            {
                Forces.Clear();
            }
        }

        if (Forces.ContainsKey(location))
        {
            if (specialForces)
            {
                Forces[location].ChangeSpecialForces(amount);
            }
            else
            {
                Forces[location].ChangeForces(amount);
            }
        }
        else if (amount > 0)
        {
            if (specialForces)
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = amount, AmountOfForces = 0 });
            }
            else
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = 0, AmountOfForces = amount });
            }
        }

        OnChanged?.Invoke();
    }

    private void SetForceAmount(Location location, int amount, bool specialForces)
    {
        if (!AllowMultipleTerritories)
        {
            var currentLocation = Forces.Keys.FirstOrDefault();
            if (currentLocation != null && currentLocation.Territory != location.Territory)
            {
                Forces.Clear();
            }
        }

        if (Forces.ContainsKey(location))
        {
            if (specialForces && Forces[location].AmountOfSpecialForces != amount)
            {
                Forces[location].AmountOfSpecialForces = amount;
                OnChanged?.Invoke();
            }
            else if (!specialForces && Forces[location].AmountOfForces != amount)
            {
                Forces[location].AmountOfForces = amount;
                OnChanged?.Invoke();
            }
        }
        else
        {
            if (specialForces)
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = amount, AmountOfForces = 0 });
            }
            else
            {
                Forces.Add(location, new Battalion() { AmountOfSpecialForces = 0, AmountOfForces = amount });
            }

            OnChanged?.Invoke();
        }
    }
}
