<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
    
<div class="card @Width @Border mb-2" style="@BackgroundStyle">

    <div class="card-header" style="@HeaderStyle">

        @if (Collapsible)
        {
            <CollapseButton @bind-Collapsed="Collapsed" />
        }

        @Header

    </div>

    @if (!Collapsible || !Collapsed)
    {
        <div class="card-body" style="@BodyStyle">
            <ErrorBoundary @ref=errorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert alert-danger">
                        An error has occured displaying this game action. Please report this issue using the 
                        <a class="btn btn-link p-1" href="https://trello.com/invite/b/fTA2ujGp/aa7a44ca48cf5fd8e9c41ee838b7d5be/treachery-online" target="_blank" title="Report a bug or suggest improvements">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-bug" viewBox="0 0 16 16">
                                <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z" />
                            </svg>
                        </a>
                        button and include a savegame file of the current situation.
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </div>
    }

</div>

@code {

    [Parameter]
    public bool IsUrgent { get; set; }

    [Parameter]
    public string Width { get; set; } = "";

    [Parameter]
    public string BackgroundStyle { get; set; }

    [Parameter]
    public string HeaderStyle { get; set; }

    [Parameter]
    public string BodyStyle { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public bool Collapsible { get; set; } = true;

    private bool _collapsed  = false;

    [Parameter]
    public bool Collapsed
    {
        get
        {
            return _collapsed;
        }
        set
        {

            if (_collapsed != value)
            {
                _collapsed = value;
                CollapsedChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> CollapsedChanged { get; set; }

    [Parameter]
    public GameEvent TimedEvent { get; set; } = null;

    private ErrorBoundary errorBoundary;

    private string Border => IsUrgent ? "border-white" : "";

    protected override void OnAfterRender(bool firstRender)
    {
        errorBoundary?.Recover();
    }
}
