@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

<div style="@Style" @onmouseover="@(e => {_shown = true;})" @onmouseout="@(e => {_shown = false;})">

    @ChildContent

</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public float Width { get; set; } = 200;

    [Parameter]
    public float HandleWidth { get; set; } = 40;

    [Parameter]
    public float Height { get; set; } = 200;

    [Parameter]
    public string BackgroundColor { get; set; } = "black";

    [Parameter]
    public string BorderColor { get; set; } = "white";

    [Parameter]
    public int BorderWidth { get; set; } = 2;

    [Parameter]
    public HoverPanelPosition Position { get; set; } = HoverPanelPosition.Left;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var currentDimensions = await Browser.GetWindowDimensions();
        if (Math.Abs(_dims.Width - currentDimensions.Width) > 0.1f || Math.Abs(_dims.Height - currentDimensions.Height) > 0.1f)
        {
            _dims = currentDimensions;
            StateHasChanged();
        }
        
    }

    private Dimensions _dims = new() { Width = 640, Height = 480 };
    private bool _shown = false;

    private string Style
    {
        get
        {
            switch (Position)
            {
                case HoverPanelPosition.Top:
                    {
                        var panelWidth = Support.Round(0.7f * _dims.Width);
                        var leftMargin = Support.Round(0.15f * _dims.Width);

                        return string.Format("position: absolute; left: {0}px; transition: 0.5s; padding: 0px; width: {1}px; border-radius: 0 5px 5px 0; background-color: {2}; overflow: auto; height: {5}px; top: {6}px;",
                            leftMargin,
                            panelWidth,
                            BackgroundColor,
                            BorderColor,
                            BorderWidth,
                            Support.Round(Height),
                            _shown ? "0" : Support.Round(-Height + HandleWidth));
                    }
                    
                case HoverPanelPosition.Right:
                {
                    var panelHeight = Support.Round(0.7f * _dims.Height);
                    var topMargin = Support.Round(0.15f * _dims.Height);

                    return string.Format("position: absolute; right: {0}px; transition: 0.5s; padding: 0px; width: {1}px; border-radius: 5px 0px 0px 5px; background-color: {2}; overflow: auto; height: {5}px; top: {6}px;",
                        _shown ? "0" : Support.Round(-Width + HandleWidth),
                        Support.Round(Width),
                        BackgroundColor,
                        BorderColor,
                        BorderWidth,
                        panelHeight,
                        topMargin);
                }

                default:
                case HoverPanelPosition.Left:
                    {
                        var panelHeight = Support.Round(0.7f * _dims.Height);
                        var topMargin = Support.Round(0.15f * _dims.Height);

                        return string.Format("position: absolute; left: {0}px; transition: 0.5s; padding: 0px; width: {1}px; border-radius: 0 5px 5px 0; background-color: {2}; overflow: auto; height: {5}px; top: {6}px;",
                            _shown ? "0" : Support.Round(-Width + HandleWidth),
                            Support.Round(Width),
                            BackgroundColor,
                            BorderColor,
                            BorderWidth,
                            panelHeight,
                            topMargin);
                    }
            }
        }
    }

    public enum HoverPanelPosition
    {
        None = 0,
        Left = 4,
        Top = 8,
        Right = 12,
        Bottom = 16
    }
}
