@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@implements IDisposable;

<span @ref="@element" @attributes="_attributes" class="@Class" style="@SpanStyle">
    @Client.CurrentSkin.Describe(Shown)
</span>

@code {

    private Dictionary<string, object> _attributes;

    [Parameter]
    public object Shown { get; set; }
    private object _shown;

    [Parameter]
    public string Class { get; set; } = "fw-bold";

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string Popover { get; set; }
    private string _popover;
    private bool _popoverNeedsRefresh = false;

    [Parameter]
    public bool PopoverAsTooltip { get; set; } = false;

    [Parameter]
    public Game Game { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!Equals(_shown, Shown))
        {
            _shown = Shown;

            if (Shown != null)
            {
                PopoverAsTooltip = !ShownHasRichPopover;
                Popover = GetShownPopover();
            }
            else
            {
                Popover = "";
            }
        }

        if (_popover != Popover)
        {
            _attributes = new Dictionary<string, object>();
            _popover = Popover;

            if (PopoverAsTooltip) 
            {
                _attributes.Add("title", Popover);
            }
            else
            {
                _attributes.Add("data-bs-trigger", "hover");
                _attributes.Add("data-bs-toggle", "popover");
                _attributes.Add("data-bs-html", "true");
                _attributes.Add("data-bs-animation", "false");
                _attributes.Add("data-bs-delay", "100");
                _attributes.Add("data-container", "body");
                _attributes.Add("data-bs-content", Popover);
                _popoverNeedsRefresh = true;
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Popover != null && !PopoverAsTooltip)
        {
            await Browser.EnablePopover(element);
        }
        else if (_popoverNeedsRefresh)
        {
            _popoverNeedsRefresh = false;
            await Browser.RefreshPopover(element);
        }
    }

    private ElementReference element;

    public void Dispose()
    {
        if (Popover != null && !PopoverAsTooltip)
        {
            _ = Browser.RemovePopover(element);
        }
    }

    private string GetShownPopover()
    {
        return Shown switch
        {
            null => "",
            string s => s,
            TreacheryCard tc => Client.CurrentSkin.GetPopup(tc),
            ResourceCard rc => Client.CurrentSkin.GetPopup(rc),
            IHero h => Game != null ? Client.CurrentSkin.GetPopup(h, Game) : Client.CurrentSkin.GetPopup(h),
            LeaderSkill ls => Client.CurrentSkin.GetPopup(ls),
            TechToken tt => Client.CurrentSkin.GetPopup(tt),
            StrongholdAdvantage loc => Client.CurrentSkin.GetPopup(loc),

            TerrorType terr => Client.CurrentSkin.GetTerrorTypeDescription(terr),
            Ambassador amb => Client.CurrentSkin.GetAmbassadorDescription(amb),

            _ => Client.CurrentSkin.Describe(Shown)
        };
    }

    private bool ShownHasRichPopover => Shown is TreacheryCard || Shown is ResourceCard || Shown is IHero || Shown is LeaderSkill || Shown is TechToken || Shown is StrongholdAdvantage;

    private string SpanStyle => Popover != null ? "cursor:pointer;" + Style : Style;
}
