<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using System.Collections.Generic;
@using Treachery.Shared;
@implements IDisposable

<SelectFromImageComponent @bind-Value="Value" Selected="@Selected" Values="Values" ImageURLs="Values.Select(c => Skin.Current.GetImageURL(c))" PopupHTMLs="Values.Select(c => Support.GetTreacheryCardHoverHTML(c))" Required="Required" ImageWidth="80" OnChanged="@OnChanged">
    <Label>@Label</Label>
</SelectFromImageComponent>

@code {

    [Parameter]
    public IEnumerable<TreacheryCard> Values { get; set; }

    [Parameter]
    public RenderFragment Label { get; set; }

    [Parameter]
    public bool Required { get; set; } = true;

    private TreacheryCard _value;

    [Parameter]
    public TreacheryCard Value
    {
        get
        {
            return _value;
        }
        set
        {
            if (_value != value)
            {
                _value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public List<TreacheryCard> Selected { get; set; } = null;

    [Parameter]
    public EventCallback<TreacheryCard> ValueChanged { get; set; }

    [Parameter]
    public Action OnChanged { get; set; }

    public void Dispose()
    {
        _ = Browser.RefreshPopovers();
    }
}

